body{
    background-color: whitesmoke;
}
.login{
    box-shadow:0 0 3px red;
    border: 2px red solid;
    outline: red;
}
a:hover{
    text-shadow: 0 0 1px black;
}
button:hover{
    box-shadow: 0px 0px 5px red;
    outline: red;
}
.box{
    box-shadow: 0 0 4px gray;
}